*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --primary-color: #8d8741;
    --secondary-color: #659dbd;
    --tertiary-color: #daad86;
    --quad-color: #bc986a;
}

header {
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position:-webkit-sticky;
    top:0;
    background-image: url(../portfolio/california.png) ;
}

header h1 {
    font-weight: bolder;
    font-size: 40px;
    color: var(--tertiary-color)
}
header a {
    text-decoration: none;
    color: var(--tertiary-color)
}
header nav ul {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
list-style: none;
align-items: flex-end;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgb(101, 157, 189, 0.7);
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/*hero styling begins*/

html {
   background:url(../portfolio/california.png) no-repeat center center fixed;
   -webkit-background-size: cover;
   background-size: cover;
}

.hero h2 {
    color: var(--secondary-color);
    text-align: right;
    font-style: italic;
    text-shadow:  0 0 10px rgb(255, 255, 153) ;
}

.intro h2 {
        font-size: 48px;
        color: var(--secondary-color);
        border-bottom: 3px solid;
        padding-bottom: 20px;
        text-align: left;
        margin: 0 auto 35px auto;
        width: 50%;
}
.intro p {
   line-height: 1.6;
   color: var(--quad-color); 
   width: 80%;
   font-size: 22px;
   margin: 0 auto;
   text-align: center;
}